<!DOCTYPE HTML>
<html>
<body>
    <h1>No fly zone violators</h1>
    <div id="violatorslist">
        {% for violator, information in violators.items() %}
        <ul>
            <li>{{ violator }}:</li>
            <ul>
                <li>Phonenumber: {{information.phoneNumber}}</li>
                <li>Email: {{information.email}}</li>
                <li>Closest distance to nest: {{information.distance}} meters</li>
                <li>Time since violation: {{information.timeReadable}}</li>
            </ul>
        </ul>
        {% endfor %}
    <div>
    
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='update.js' )}}"></script>
</body>
</html>
